<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title">Welcome to Online Restaurant</h5>
        TheRestaurant has started the journey of Four Seasons Restaurant in Dhanmondi since 01 April 2021.

        We offer lavishly decorated dish with multi cuisine menus, especially Thai, Chinese and Cultural cuisine. We also serve Bangla foods (by order minimum persons-100). Outside catering and corporate service are also available here.

        We have homely and well-secured environment to organize party & programs.
    </div>
</div>